<%= form_tag("/model_parameters_estimate", method: "get", class: "form-inline", role: "form") do %>
  <div class="form-group">
      <%= label_tag(:crop, "Crop:") %>
      <%= select_tag(:crop, options_for_select([['Maize'],['Millet'],['Sorghum'],['Fonio'],['Cereals, nes'],['Potatoes'],['Sweet potatoes'],['Cassava'],['Sugar cane'],['Cow peas, dry'],['Pulses, nes'],['Cashew nuts, with shell'],['Nuts, nes'],['Groundnuts, with shell'],['Coconuts'],['Oil, palm fruit'],['Sesame seed'],['Melonseed'],['Seed cotton'],['Cabbages and other brassicas'],['Tomatoes'],['Pumpkins, squash and gourds'],['Eggplants (aubergines)'],['Onions, dry'],['Beans, green'],['Carrots and turnips'],['Okra'],['Vegetables, fresh nes'],['Bananas'],['Oranges'],['Watermelons'],['Mangoes, mangosteens, guavas'],['Fruit, tropical fresh nes'],['Fruit, fresh nes'],['Chillies and peppers, dry'],['Cereals,Total'],['Roots and Tubers,Total'],['Pulses,Total'],['Treenuts,Total'],['Oilcrops Primary'],['Vegetables Primary'],['Fibre Crops Primary'],['Vegetables&Melons, Total'],['Fruit excl Melons,Total'],['Citrus Fruit,Total'],['Coarse Grain, Total'],['Cereals (Rice Milled Eqv)'],['Oilcakes Equivalent']], :selected => params[:crop]), style: "width:auto;", class: "form-control") %>
  </div>
  <div class="form-group">
      <%= label_tag(:statistic, "Statistic:") %>
      <%= select_tag(:statistic, options_for_select([['Yield'], ['Planting'], ['Harvest']]), style: "width:auto;", class: "form-control") %>
  </div>
  <div class="form-group">
      <%= label_tag(:city, "City:") %>
      <%= text_field_tag(:city, params[:city]) %>
  </div>
  <%= submit_tag("Search", class: "btn btn-primary") %>
<% end %>

<h1>Estimate: <%= @estimate =%></h1>

<%= link_to 'Back', reports_path %>
