<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :crop %><br>
    <%= select(:report, :crop, options_for_select([['Maize'],['Millet'],['Sorghum'],['Fonio'],['Cereals, nes'],['Potatoes'],['Sweet potatoes'],['Cassava'],['Sugar cane'],['Cow peas, dry'],['Pulses, nes'],['Cashew nuts, with shell'],['Nuts, nes'],['Groundnuts, with shell'],['Coconuts'],['Oil, palm fruit'],['Sesame seed'],['Melonseed'],['Seed cotton'],['Cabbages and other brassicas'],['Tomatoes'],['Pumpkins, squash and gourds'],['Eggplants (aubergines)'],['Onions, dry'],['Beans, green'],['Carrots and turnips'],['Okra'],['Vegetables, fresh nes'],['Bananas'],['Oranges'],['Watermelons'],['Mangoes, mangosteens, guavas'],['Fruit, tropical fresh nes'],['Fruit, fresh nes'],['Chillies and peppers, dry'],['Cereals,Total'],['Roots and Tubers,Total'],['Pulses,Total'],['Treenuts,Total'],['Oilcrops Primary'],['Vegetables Primary'],['Fibre Crops Primary'],['Vegetables&Melons, Total'],['Fruit excl Melons,Total'],['Citrus Fruit,Total'],['Coarse Grain, Total'],['Cereals (Rice Milled Eqv)'],['Oilcakes Equivalent']])) %>
  </div>
  <div class="field">
    <%= f.label :statistic %><br>
    <%= select(:report, :statistic, options_for_select([['Yield'], ['Planting'], ['Harvest']])) %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
