<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= image_tag "nav_logo.gif", size: "30x30", id: "nav-logo" %>
    <%= link_to "EarthAudit Agricultural Yield Pilot", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Request Estimates",    model_parameters_estimate_path %></li>
        <li><%= link_to "Submit Reports",    new_report_path %></li>
        <li><%= link_to "Learn More",    reports_path %></li>
      </ul>
    </nav>
  </div>
</header>